<%if(errorMessage){%>
    <div style="background-color: red;">
        <%=errorMessage%>
    </div>
    <%}%>
<div class="deatils">
    <div class="job-detail">
        <img src="<%=jobs.image%>">
        <h2 style="color: red;"><%=jobs.cname%></h2>
        <p style="color: red;"><%=jobs.desc%></p>
    </div>
</div>