<%if(errorMessage){%>
<div style="background-color: red;">
 <%=errorMessage%>
</div>
<%}%>
<div class="login-register ">
    <div class="container-log">
        <form action="/login" method="post">
            <h1>LOGIN</h1>
            <label for="email">Email or phone</label>
            <input type="text" name="email">

            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>
</div>