<div class="contain">
    <div class="login-container">
        <h2>Recruiter Login</h2>
    
        <form action="/recuriter" method="post">
            <!-- <div class="error">
                 Error messages can go here, dynamically rendered if needed 
            </div> -->
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
    
            <button type="submit">Login</button>
            
        </form>
    
        <div class="extra-links">
            <p><a href="/forgot-password">Forgot Password?</a></p>
            <p><a href="/recu-register">Register / Sign Up</a></p>
        </div>
    </div>
</div>